################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PROYECTO/SistemaVentas/.vs/SistemaVentas/FileContentIndex/5dd625fd-5cef-4d09-9142-6088e0456c81.vsidx
/PROYECTO/SistemaVentas/.vs/SistemaVentas/FileContentIndex/77d3e81e-896e-4752-9356-630e7c7e3a65.vsidx
/PROYECTO/SistemaVentas/.vs/SistemaVentas/FileContentIndex/9e33d60c-7ee7-4dae-84ad-dee961995dac.vsidx
/PROYECTO/SistemaVentas/.vs/SistemaVentas/FileContentIndex/b666e58f-03fb-4c44-aac3-002fa9dbfbe9.vsidx
/PROYECTO/SistemaVentas/.vs/SistemaVentas/FileContentIndex/f5aca9d2-aeca-46eb-82bc-5db0b7910d6b.vsidx
